<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.CarStockInOutDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.CarStockInOutDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="business_id" property="parentId" jdbcType="INTEGER" />
    <result column="stock_id" property="stockId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="waybill_id" property="waybillId" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="engine_no" property="engineNo" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="key_position" property="keyPosition" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    
    <result column="waybillNo" property="waybillNo" />
  </resultMap>
  
  	<insert id="insert" parameterType="com.jshpsoft.domain.CarStockInOutDetail" >
	    insert into carStockInOutDetail 
	    ( parent_id, business_id,stock_id, type, waybill_id, brand, vin, model, color, engine_no, 
	      position,key_position,mark, insert_time, insert_user, update_time, update_user, del_flag )
	    values 
	    ( #{parentId}, #{businessId},#{stockId},#{type}, #{waybillId}, #{brand}, #{vin}, #{model}, #{color}, #{engineNo}, 
	      #{position},#{keyPosition},#{mark}, #{insertTime}, #{insertUser}, #{updateTime}, #{updateUser}, #{delFlag} )
  	</insert>
  
  	<update id="update" parameterType="com.jshpsoft.domain.CarStockInOutDetail" >
	    update carStockInOutDetail
	    <set >
	      <if test="parentId != null" >
	        parent_id = #{parentId},
	      </if>
	      <if test="businessId != null" >
	        business_id = #{businessId},
	      </if>
	      <if test="stockId != null" >
	        stock_id = #{stockId},
	      </if>
	      <if test="type != null" >
	        type = #{type},
	      </if>
	      <if test="waybillId != null and waybillId != ''" >
	        waybill_id = #{waybillId},
	      </if>
	      <if test="brand != null and brand != ''" >
	        brand = #{brand},
	      </if>
	      <if test="vin != null and vin != ''" >
	        vin = #{vin},
	      </if>
	      <if test="model != null and model != ''" >
	        model = #{model},
	      </if>
	      <if test="color != null and color != ''" >
	        color = #{color},
	      </if>
	      <if test="engineNo != null and engineNo != ''" >
	        engine_no = #{engineNo},
	      </if>
	      <if test="position != null and position != ''" >
	        position = #{position},
	      </if>
	      <if test="keyPosition != null and keyPosition != ''" >
	        key_position = #{keyPosition},
	      </if>
	      <if test="mark != null and mark != ''" >
	        mark = #{mark},
	      </if>
	      <if test="updateTime != null" >
	        update_time = #{updateTime},
	      </if>
	      <if test="updateUser != null and updateUser != ''" >
	        update_user = #{updateUser},
	      </if>
	      <if test="delFlag != null and delFlag != ''" >
	        del_flag = #{delFlag},
	      </if>
	    </set>
	    where id = #{id}
  	</update>
  	
  	<update id="updateById"  parameterType="java.util.HashMap">
		Update carStockInOutDetail set update_time = #{updateTime}, update_user = #{updateUser}, del_flag = #{delFlag}
		where id = #{id}
	</update>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		Select a.*,b.waybill_no waybillNo
		From carStockInOutDetail a 
		left join waybill b on a.waybill_id=b.id 
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="parentId != null and parentId != ''">
				and a.parent_id = #{parentId} 
			</if>
			<if test="stockId != null and stockId != ''">
				and a.stock_id = #{stockId} 
			</if>
		</where>
		order by a.insert_time asc
	</select>
	
	<insert id="insertByParams" parameterType="java.util.HashMap" >
	    insert into carStockInOutDetail 
	    ( parent_id, business_id, stock_id, type, waybill_id, brand, vin, model, color, engine_no, 
	      position, key_position, insert_time, insert_user, update_time, update_user, del_flag )
	    select #{parentId}, #{businessId}, #{stockId} , #{type}, #{businessId}, a.brand, a.vin, a.model,a.color,a.engine_no,
	    	a.position, a.key_position, #{insertTime}, #{insertUser}, #{updateTime}, #{updateUser}, #{delFlag} 
		from carStock a
		where a.id in (${carStockIds}) and a.del_flag='N' 
  	</insert>
  	
  	<update id="updateByBusinessId" parameterType="java.util.HashMap">
  		update carStockInOutDetail
  		<set>
	      	<if test="updateUser != null and updateUser != ''" >
	        	update_user = #{updateUser},
	      	</if>
	      	<if test="updateTime != null" >
	        	update_time = #{updateTime},
	      	</if>
	      	<if test="delFlag != null and delFlag != ''" >
	        	del_flag = #{delFlag},
	      	</if>
	    </set>
  		where business_id = #{businessId}
  	</update>
  	
  	<select id="getDetailByParentId" resultMap="BaseResultMap" parameterType="java.util.HashMap">
	    select * from (
  			select row_number() over(order by id asc) as rownumber,*
  			from carStockInOutDetail c
  	   	<where>
  			del_flag='N'
  			<if test="parentId != null and parentId != '' ">
				and parent_id=#{parentId}
			</if>
		</where>
		) as t
		WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
		ORDER BY t.insert_time ASC
		
	</select>
  
	<select id="getPageTotalCount" resultType="Integer" parameterType="java.util.HashMap" >
  	select count(*) from carStockInOutDetail 
  	   <where>
  			del_flag='N'
			<if test="parentId != null and parentId != '' ">
				and parent_id=#{parentId}
			</if>
		</where>
  </select>
  
</mapper>