<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.CostApplyMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.CostApply" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="bill_no" property="billNo" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="apply_user_id" property="applyUserId" jdbcType="INTEGER" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="amount" property="amount"  />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="mark" property="mark" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="NVARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="typeName" property="typeName" jdbcType="NVARCHAR" />
    <result column="departmentName" property="departmentName" jdbcType="NVARCHAR" />
    <result column="applyUserName" property="applyUserName" jdbcType="NVARCHAR" />
    
  </resultMap>
  
  <insert id="insert" parameterType="com.jshpsoft.domain.CostApply" >
    insert into office_costApply ( bill_no,type, department_id,apply_user_id,apply_time,name, 
      amount,start_time,end_time,mark, status,insert_time,insert_user, update_time,update_user,del_flag)
    values ( #{billNo},#{type}, #{departmentId},#{applyUserId},#{applyTime},#{name}, 
      #{amount},#{startTime},#{endTime},#{mark}, #{status}, #{insertTime}, #{insertUser},#{updateTime},#{updateUser},#{delFlag})
  </insert>
  
  <select id="getPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	SELECT * from (
		SELECT row_number() over(order by a.id desc) as rownumber,a.*,d.name as departmentName,
		c.name as typeName,u.name as applyUserName
			FROM office_costApply a
			left join sys_department d on d.id = a.department_id
			left join basic_costType c on c.id = a. type
			left join sys_user u on u.id = a.apply_user_id
			WHERE 
				a.del_flag = 'N'
				<if test="type != null and type != ''">
    				and a.type = #{type}
		    	</if>
		    	<if test="name != null and name != ''">
		    		and ( a.name LIKE concat('%', #{name}, '%')  )
		    	</if>
		    	<if test="departmentId != null and departmentId != ''">
		    		and a.department_id = #{departmentId}
		    	</if>
		    	<if test="startTime != null and startTime != ''">
					and convert(char(16), a.apply_time,120) &gt;= convert(char(16), #{startTime},120) 
				</if>
				<if test="endTime != null and endTime != ''">
					and convert(char(16), a.apply_time,120) &lt;= convert(char(16), #{endTime},120) 
				</if>
				<if test="insertUser != null and insertUser != ''">
				    and a.insert_user =#{insertUser}
				</if>
		    	
	) as t 
	WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
	ORDER BY t.id desc
  </select>
  
  <select id="getPageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
	SELECT count(*)
		FROM office_costApply a
		left join sys_department d on d.id = a.department_id
		left join basic_costType c on c.id = a. type
		left join sys_user u on u.id = a.apply_user_id
		WHERE 
			a.del_flag = 'N'
			<if test="type != null and type != ''">
    				and a.type = #{type}
		    	</if>
		    	<if test="name != null and name != ''">
		    		and ( a.name LIKE concat('%', #{name}, '%')  )
		    	</if>
		    	<if test="departmentId != null and departmentId != ''">
		    		and a.department_id = #{departmentId}
		    	</if>
		    	<if test="startTime != null and startTime != ''">
					and convert(char(16), a.apply_time,120) &gt;= convert(char(16), #{startTime},120)
				</if>
				<if test="endTime != null and endTime != ''">
					and convert(char(16), a.apply_time,120) &lt;= convert(char(16), #{endTime},120) 
				</if>
				<if test="insertUser != null and insertUser != ''">
				    and a.insert_user =#{insertUser}
				</if>
  </select>
  
  <select id="getByConditions" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
    select a.*,d.name as departmentName,
		c.name as typeName,u.name as applyUserName
      from office_costApply a
      left join sys_department d on d.id = a.department_id
		left join basic_costType c on c.id = a. type
		left join sys_user u on u.id = a.apply_user_id
    <where>
    	a.del_flag='N'
    			<if test="type != null and type != ''">
    				and a.type = #{type}
		    	</if>
		    	<if test="name != null and name != ''">
		    		and ( a.name LIKE concat('%', #{name}, '%')  )
		    	</if>
		    	<if test="departmentId != null and departmentId != ''">
		    		and a.department_id = #{departmentId}
		    	</if>
		    	<if test="startTime != null and startTime != ''">
					and convert(char(16), a.apply_time,120) &gt;= convert(char(16), #{startTime},120)
				</if>
				<if test="endTime != null and endTime != ''">
					and convert(char(16), a.apply_time,120) &lt;= convert(char(16), #{endTime},120)
				</if>
				<if test="status != null and status != ''">
				    and a.status = #{status}
				</if>
				<if test="insertTime != null and insertTime != ''">
				    and convert(char(10), a.insert_time,120) = convert(char(10), #{insertTime},120)
				</if>
				<if test="billNo != null and billNo != ''">
				    and a.bill_no = #{billNo}
				</if>
				<if test="insertUser != null and insertUser != ''">
				    and a.insert_user =#{insertUser}
				</if>
    </where>
    order by a.insert_time desc
  </select>
  
  <select id="getById" parameterType="int"  resultMap="BaseResultMap">
  	select a.*,d.name as departmentName,
	c.name as typeName,u.name as applyUserName
  	from 
  	office_costApply a
  	left join sys_department d on d.id = a.department_id
	left join basic_costType c on c.id = a.type
	left join sys_user u on u.id = a.apply_user_id
  	where a.id = #{id}
  </select>
  
  <update id="update" parameterType="com.jshpsoft.domain.CostApply">
  	update office_costApply
  	<set>
  	    <if test="billNo != null and billNo != ''">
  	        bill_no = #{billNo},
  	    </if>
  		<if test="type != null and type != ''">
    		type = #{type},
    	</if>
    	<if test="departmentId != null and departmentId != ''">
		    department_id = #{departmentId},
		</if>
		<if test="applyUserId != null and applyUserId != ''">
		    apply_user_id = #{applyUserId},
		</if>
		<if test="applyTime != null ">
		    apply_time = #{applyTime},
		</if>
    	<if test="name != null and name != ''">
    		name = #{name},
    	</if>
    	<if test="amount != null ">
    		amount = #{amount},
    	</if>
    	<if test="startTime != null ">
    		start_time = #{startTime},
    	</if>
    	<if test="endTime != null ">
    		end_time = #{endTime},
    	</if>
    	<if test="mark != null">
    		mark = #{mark},
    	</if>
    	<if test="status != null and status != ''">
    		status = #{status},
    	</if>
    	<if test="updateTime != null ">
    		update_time = #{updateTime},
    	</if>
    	<if test="updateUser != null ">
    		update_user = #{updateUser},
    	</if>
    	<if test="delFlag != null and delFlag != ''">
    		del_flag = #{delFlag} 
    	</if>
  	</set>
  	where id = #{id}
  </update> 
  
  <select id="getReportData" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
    select t.typeName,t.departmentName,y.amount  
    from (	select a.id typeId,a.name typeName,b.id depId,b.name departmentName
			from basic_costType a,sys_department b
			where  a.del_flag = 'N' and b.del_flag = 'N' and b.parent_id != 0 ) t
			left join (	select x.type,x.department_id,case when x.returnAmount != 0 then x.amount-x.returnAmount else x.amount end amount
						from ( 	select c.type,c.department_id,sum(c.amount) amount,sum(d.return_amount) returnAmount
								from (	select type,department_id,bill_no,amount
										from office_costApply
										where del_flag = 'N' 
											<if test="costStatus != null and costStatus != ''">
									    		and status in (${costStatus})
									    	</if>
											<if test="monthFlag != null and monthFlag != ''">
									    		and convert(char(7), apply_time,120) = #{applyDate}
									    	</if>
											<if test="sumFlag != null and sumFlag != ''">
									    		and convert(char(7), apply_time,120) &lt;= #{applyDate}
									    	</if>
										) c
								left join (	select cost_apply_bill_no,return_amount
											from office_costApplyReturn 
											where del_flag = 'N' 
												<if test="costReStatus != null and costReStatus != ''">
										    		and status in (${costReStatus})
										    	</if>
											)d
								on c.bill_no = d.cost_apply_bill_no
								group by c.type,c.department_id ) x
						) y on t.typeId = y.type and t.depId = y.department_id
	order by t.typeId,t.depId
  </select>
  
  
</mapper>