<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.Department" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="leader_id" property="leaderId" jdbcType="INTEGER" />
    <result column="leaderName" property="leaderName" jdbcType="VARCHAR" />
  </resultMap>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select * from sys_department
		<where>
			<if test="delFlag != null and delFlag != ''">
				del_flag = #{delFlag}
			</if>
			<if test="code != null and code != ''">
				and code = #{code}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="parentFlag != null and parentFlag != ''">
				and parent_id != 0
			</if>
		</where>
		order by order_id
	</select>
	
	<select id="getById" resultMap="BaseResultMap" parameterType="int">
		select d.*,s.name as leaderName
		from sys_department d
		left join sys_user s on s.id = d.leader_id
		where d.id = #{id}
	</select>
  
  <insert id="insert" parameterType="com.jshpsoft.domain.Department">
  	insert into sys_department(code,name,parent_id,order_id,mark,insert_time,insert_user,del_flag,leader_id) 
  	values(#{code},#{name},#{parentId},#{orderId},#{mark},#{insertTime},#{insertUser},#{delFlag},#{leaderId})
  </insert>
  
  <update id="update" parameterType="com.jshpsoft.domain.Department">
  	update sys_department
  	<set>
  		<if test="code != null and code != ''">
  			code = #{code},
  		</if>
  		<if test="name != null and name != ''">
  			name = #{name},
  		</if>
  		<if test="parentId != null and parentId != ''">
  			parent_id = #{parentId},
  		</if>
  		<if test="mark != null and mark != ''">
  			mark = #{mark},
  		</if>
  		<if test="orderId != null and orderId != ''">
  			order_id = #{orderId},
  		</if>
  		<if test="leaderId != null">
  			leader_id = #{leaderId},
  		</if>
  		<if test="updateTime != null">
			update_time = #{updateTime},
		</if>
		<if test="updateUser != null and updateUser != ''">
			update_user = #{updateUser},
		</if>
		<if test="delFlag != null and delFlag != ''">
			del_flag = #{delFlag}
		</if>
  	</set>
  	where id = #{id}
  </update>
  
  <update id="delete" parameterType="java.util.HashMap">
  	Update sys_department set update_time = #{updateTime}, update_user = #{updateUser}, del_flag = #{delFlag}
		where id = #{id}
  </update>
</mapper>