<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.InvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.Invoice" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="invoice_no" property="invoiceNo" jdbcType="NVARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="NVARCHAR" />
    <result column="amount" property="amount"  />
    <result column="duty" property="duty"  />
    <result column="file_path" property="filePath" jdbcType="NVARCHAR" />
    <result column="mark" property="mark" jdbcType="NVARCHAR" />
    <result column="status" property="status" jdbcType="NVARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    
  </resultMap>
  
  <insert id="insert" parameterType="com.jshpsoft.domain.Invoice" >
    insert into invoice ( invoice_no, operate_time, title,amount,duty,file_path,
      mark, status, insert_time,insert_user, update_time,update_user,del_flag)
    values ( #{invoiceNo}, #{operateTime}, #{title},#{amount},#{duty},#{filePath},
      #{mark}, #{status}, #{insertTime}, #{insertUser},#{updateTime},#{updateUser},#{delFlag})
  </insert>
  
  <select id="getPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	SELECT * from (
		SELECT row_number() over(order by a.id desc) as rownumber,a.*
			FROM invoice a
			WHERE 
				a.del_flag = 'N'
				<if test="invoiceNo != null and invoiceNo != ''">
    				and ( a.invoice_no LIKE concat('%', #{invoiceNo}, '%')  )
		    	</if>
		    	<if test="startTime != null and startTime != ''">
  					and convert(char(16), a.operate_time,120) &gt;= convert(char(16), #{startTime},120)
  				</if>
  				<if test="endTime != null and endTime != ''">
  					and convert(char(16), a.operate_time,120) &lt;= convert(char(16), #{endTime},120)
  				</if>
		    	<if test="title != null and title != ''">
		    		and ( a.title LIKE concat('%', #{title}, '%')  )
		    	</if>
		    	<if test="mark != null and mark != ''">
		    		and ( a.mark LIKE concat('%', #{mark}, '%')  )
		    	</if>
	) as t 
	WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
	ORDER BY t.id desc
  </select>
  
  <select id="getPageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
	SELECT count(*)
		FROM invoice a
		WHERE 
			a.del_flag = 'N'
			<if test="invoiceNo != null and invoiceNo != ''">
    				and ( a.invoice_no LIKE concat('%', #{invoiceNo}, '%')  )
		    	</if>
		    	<if test="startTime != null and startTime != ''">
  					and convert(char(16), a.operate_time,120) &gt;= convert(char(16), #{startTime},120)
  				</if>
  				<if test="endTime != null and endTime != ''">
  					and convert(char(16), a.operate_time,120) &lt;= convert(char(16), #{endTime},120)
  				</if>
		    	<if test="title != null and title != ''">
		    		and ( a.title LIKE concat('%', #{title}, '%')  )
		    	</if>
		    	<if test="mark != null and mark != ''">
		    		and ( a.mark LIKE concat('%', #{mark}, '%')  )
		    	</if>
  </select>
  
  <select id="getByConditions" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
    select * 
      from invoice
    <where>
    	del_flag='N'
    	<if test="invoiceNo != null and invoiceNo != ''">
    				and ( invoice_no LIKE concat('%', #{invoiceNo}, '%')  )
		    	</if>
		    	<if test="startTime != null and startTime != ''">
  					and convert(char(16), operate_time,120) &gt;= convert(char(16), #{startTime},120)
  				</if>
  				<if test="endTime != null and endTime != ''">
  					and convert(char(16), operate_time,120) &lt;= convert(char(16), #{endTime},120)
  				</if>
		    	<if test="title != null and title != ''">
		    		and ( title LIKE concat('%', #{title}, '%')  )
		    	</if>
		    	<if test="mark != null and mark != ''">
		    		and ( mark LIKE concat('%', #{mark}, '%')  )
		    	</if>
    </where>
    order by insert_time desc
  </select>
  
  <select id="getById" parameterType="int"  resultMap="BaseResultMap">
  	select * from invoice where id = #{id}
  </select>
  
  <update id="update" parameterType="com.jshpsoft.domain.Invoice">
  	update invoice
  	<set>
  		<if test="invoiceNo != null and invoiceNo != ''">
    		invoice_no = #{invoiceNo},
    	</if>
    	<if test="operateTime != null ">
    		operate_time =  #{operateTime},
    	</if>
    	<if test="title != null and title != ''">
    		title = #{title},
    	</if>
    	<if test="amount != null ">
    		amount = #{amount},
    	</if>
    	<if test="duty != null ">
    		duty = #{duty},
    	</if>
    	<if test="filePath != null and filePath != ''">
    		file_path = #{filePath},
    	</if>
    	<if test="mark != null and mark != ''">
    		mark = #{mark},
    	</if>
    	<if test="status != null and status != ''">
    		status = #{status},
    	</if>
    	<if test="updateTime != null ">
    		update_time = #{updateTime},
    	</if>
    	<if test="updateUser != null ">
    		update_user = #{updateUser},
    	</if>
    	<if test="delFlag != null and delFlag != ''">
    		del_flag = #{delFlag} 
    	</if>
  	</set>
  	where id = #{id}
  </update>
  
</mapper>