<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.OilPriceMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.OilPrice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="int">
		select *
		from basic_oilPrice
		where id = #{id}
	</select>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		Select a.*
		From basic_oilPrice a 
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="type != null and type != ''">
				and a.type like '%'+#{type}+'%'
			</if>
			<if test="mark != null and mark != ''">
				and a.mark like '%'+#{mark}+'%'
			</if>
		</where>
		order by a.insert_time asc
	</select>
	
	<select id="getPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
	  	SELECT * from (
			SELECT row_number() over(order by a.id desc) as rownumber,
			a.id,a.type,a.price,a.mark,a.insert_time,
			(select name from sys_user b where a.insert_user=b.id ) insert_user
			From basic_oilPrice a
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="type != null and type != ''">
				and a.type like '%'+#{type}+'%'
			</if>
			<if test="mark != null and mark != ''">
				and a.mark like '%'+#{mark}+'%'
			</if>
		</where>
		) as t 
		WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
		ORDER BY t.insert_time desc
	</select>
	  
	<select id="getPageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT count(*)
		FROM basic_oilPrice a
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="type != null and type != ''">
				and a.type like '%'+#{type}+'%'
			</if>
			<if test="mark != null and mark != ''">
				and a.mark like '%'+#{mark}+'%'
			</if>
		</where>
	</select>
	
  	<insert id="insert" parameterType="com.jshpsoft.domain.OilPrice" >
    	insert into basic_oilPrice ( type, price, mark, insert_time, insert_user,update_time, update_user, del_flag )
    	values ( #{type}, #{price}, #{mark}, #{insertTime}, #{insertUser}, #{updateTime}, #{updateUser}, #{delFlag} )
  	</insert>
  
  	<update id="update" parameterType="com.jshpsoft.domain.OilPrice" >
    	update basic_oilPrice
	    <set >
	      <if test="type != null and type != ''" >
	        type = #{type},
	      </if>
	      <if test="price != null and price != ''" >
	        price = #{price},
	      </if>
	      <if test="mark != null and mark != ''" >
	        mark = #{mark},
	      </if>
	      <if test="updateTime != null" >
	        update_time = #{updateTime},
	      </if>
	      <if test="updateUser != null and updateUser != ''" >
	        update_user = #{updateUser},
	      </if>
	      <if test="delFlag != null and delFlag != ''" >
	        del_flag = #{delFlag},
	      </if>
	    </set>
	    where id = #{id}
  	</update>
  	
  	<update id="updateById"  parameterType="java.util.HashMap">
		Update basic_oilPrice set update_time = #{updateTime}, update_user = #{updateUser}, del_flag = #{delFlag}
		where id = #{id}
	</update>
	
	<select id="getOilPriceList" resultMap="BaseResultMap">
		select * from ( 
			SELECT a.id,a.type,a.price,a.insert_time,
					ROW_NUMBER() over(PARTITION by a.type order by a.id desc) as num
			FROM basic_oilPrice a
			where a.del_flag = 'N'
			) T 
		where T.num &lt;= 1 
		order by insert_time desc
	</select>
</mapper>