<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.SupplierBusinessMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.SupplierBusiness" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="VARCHAR" />
    <result column="balance_type" property="balanceType" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="supplierName" property="supplierName" jdbcType="VARCHAR" />
  </resultMap>
  
    <select id="getById" resultMap="BaseResultMap" parameterType="int">
		select *
		from basic_supplierBusiness
		where id = #{id}
	</select>
	
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		Select a.*
		From basic_supplierBusiness a 
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="supplierId != null and supplierId != ''">
				and a.supplier_id = #{supplierId}
			</if>
			<if test="brandName != null and brandName != ''">
				and a.brand_name = #{brandName}
			</if>
			<if test="balanceType != null and balanceType != ''">
			    and a.balance_type = #{balanceType}
			</if>
		</where>
		order by a.insert_time asc
	</select>
	
  <insert id="insert" parameterType="com.jshpsoft.domain.SupplierBusiness" >
    insert into basic_supplierBusiness (supplier_id, brand_name, account_type, balance_type, insert_time, 
      insert_user, update_time, update_user, del_flag)
    values ( #{supplierId}, #{brandName},#{accountType}, #{balanceType}, #{insertTime}, 
      #{insertUser}, #{updateTime}, #{updateUser}, #{delFlag})
  </insert>
  
  <update id="update" parameterType="com.jshpsoft.domain.SupplierBusiness" >
    update basic_supplierBusiness
    <set >
      <if test="supplierId != null and supplierId != ''" >
        supplier_id = #{supplierId},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType},
      </if>
      <if test="balanceType != null" >
        balance_type = #{balanceType},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime},
      </if>
      <if test="insertUser != null" >
        insert_user = #{insertUser},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  
  <select id="getPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
	  	SELECT * from (
			SELECT row_number() over(order by a.id asc) as rownumber,a.*,b.name as supplierName
			From basic_supplierBusiness a
			left join basic_supplier b on b.id = a.supplier_id
		<where>
			<if test="delFlag != null and delFlag != ''">
				 a.del_flag = #{delFlag} 
			</if>
			<if test="brandName != null and brandName != ''">
				and a.brand_name like '%'+#{brandName}+'%'
			</if>
			<if test="supplierId != null and supplierId != ''">
				and a.supplier_id = #{supplierId}
			</if>
		</where>
		) as t 
		WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
		ORDER BY t.id ASC
	</select>
	  
	<select id="getPageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT count(*)
		FROM basic_supplierBusiness a
		left join basic_supplier b on b.id = a.supplier_id
		<where>
			<if test="delFlag != null and delFlag != ''">
				a.del_flag = #{delFlag} 
			</if>
			<if test="brandName != null and brandName != ''">
				and a.brand_name like '%'+#{brandName}+'%'
			</if>
			<if test="supplierId != null and supplierId != ''">
				and a.supplier_id = #{supplierId}
			</if>
		</where>
	</select>
	
</mapper>