<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.Task" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="process_detail_id" property="processDetailId" jdbcType="INTEGER" />
    <result column="receive_user_id" property="receiveUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="com.jshpsoft.domain.Task" >
    insert into office_task (item_id, process_detail_id, receive_user_id,
      insert_time, insert_user, update_time, 
      update_user, del_flag)
    values (#{itemId}, #{processDetailId}, #{receiveUserId},
      #{insertTime}, #{insertUser}, #{updateTime}, 
      #{updateUser}, #{delFlag})
  </insert>

  <resultMap id="BaseResultMap2" type="com.jshpsoft.domain.Task" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="process_detail_id" property="processDetailId" jdbcType="INTEGER" />
    <result column="receive_user_id" property="receiveUserId" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    
    <result column="itemName" property="itemName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap2">
  	SELECT * from (
		SELECT row_number() over(order by t.insert_time desc) as rownumber,t.*,i.item_name as itemName
			FROM office_task t 
			LEFT JOIN office_item i
			ON t.item_id = i.id
			WHERE 
				t.del_flag = 'N'
				<if test="userId != null and userId != ''" >
					AND t.receive_user_id = #{userId}
				</if>
				<if test="itemName != null and itemName != ''" >
					AND ( i.item_name LIKE concat('%', #{itemName}, '%') )
				</if>
				<if test="startTime != null and startTime != ''">
  					and convert(char(10), t.insert_time,120) &gt;= convert(char(10), #{startTime},120)
  				</if>
  				<if test="endTime != null and endTime != ''">
  					and convert(char(10), t.insert_time,120) &lt;= convert(char(10), #{endTime},120)
  				</if>
	) as t 
	WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
  </select>
  
  <select id="getPageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
	SELECT count(t.id)
			FROM office_task t 
			LEFT JOIN office_item i
			ON t.item_id = i.id
			WHERE 
				t.del_flag = 'N'
				<if test="userId != null and userId != ''" >
					AND t.receive_user_id = #{userId}
				</if>
				<if test="itemName != null and itemName != ''" >
					AND ( i.item_name LIKE concat('%', #{itemName}, '%') )
				</if>
				<if test="startTime != null and startTime != ''">
  					and convert(char(10), t.insert_time,120) &gt;= convert(char(10), #{startTime},120)
  				</if>
  				<if test="endTime != null and endTime != ''">
  					and convert(char(10), t.insert_time,120) &lt;= convert(char(10), #{endTime},120)
  				</if>
  </select>
	
  <select id="getByConditions" parameterType="java.util.HashMap" resultMap="BaseResultMap2">
	SELECT t.*,i.item_name as itemName
			FROM office_task t 
			LEFT JOIN office_item i
			ON t.item_id = i.id
			<where>
				<if test="itemId != null and itemId != ''" >
					t.item_id = #{itemId}
				</if>
				<if test="processDetailId != null" >
					AND t.process_detail_id = #{processDetailId}
				</if>
				<if test="detailId != null" >
					AND i.detail_id = #{detailId}
				</if>
				<if test="delFlag != null and delFlag != ''" >
					AND t.del_flag = #{delFlag}
				</if>
				<if test="userId != null and userId != ''" >
					AND t.receive_user_id = #{userId}
				</if>
				<if test="itemName != null and itemName != ''" >
					AND ( i.itemName LIKE concat('%', #{itemName}, '%') )
				</if>
			</where>
			<if test="orderBy and orderBy != ''" >
				ORDER BY ${orderBy}
			</if>
  </select>
	
  <select id="getById" parameterType="int"  resultMap="BaseResultMap">
	SELECT *
		FROM office_task
		WHERE id = #{id}
  </select>
  
  <update id="updateBySelective" parameterType="com.jshpsoft.domain.Task" >
    update office_task
    <set >
      <if test="itemId != null" >
        item_id = #{itemId},
      </if>
      <if test="processDetailId != null" >
        process_detail_id = #{processDetailId},
      </if>
      <if test="receiveUserId != null" >
        receive_user_id = #{receiveUserId},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime},
      </if>
      <if test="insertUser != null" >
        insert_user = #{insertUser},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  
</mapper>