<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.TrackInsuranceMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.TrackInsurance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="driver_id" property="driverId"/>
    <result column="insurance_bill_no" property="insuranceBillNo" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="VARCHAR" />
    <result column="notice_time" property="noticeTime" jdbcType="TIMESTAMP" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="invoice_attach_path" property="invoiceAttachPath" jdbcType="VARCHAR" />
    <result column="insurance_bill_path" property="insuranceBillPath" jdbcType="VARCHAR" />
    <result column="pay_log_path" property="payLogPath" jdbcType="VARCHAR" />
    <result column="accident_report_path" property="accidentReportPath" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="car_damage_cost_apply_id" property="carDamageCostApplyId" jdbcType="VARCHAR" />
    <result column="insurance_company" property="insuranceCompany" jdbcType="VARCHAR" />
    <result column="insurance_type" property="insuranceType" jdbcType="VARCHAR" />
    
    
    <result column="report_time" property="reportTime"/>
    <result column="survey_mobile" property="surveyMobile"/>
    <result column="material_complete_flag" property="materialCompleteFlag"/>
    <result column="material_mark" property="materialMark"/>
    <result column="driverName" property="driverName" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="com.jshpsoft.domain.TrackInsurance" useGeneratedKeys="true" keyProperty= "id" >
    insert into trackInsurance (type, car_number, 
      driver_id, insurance_bill_no, start_time, 
      end_time, amount, balance, status, pay_status,
      notice_time, mark, invoice_attach_path, 
      insurance_bill_path, pay_log_path, accident_report_path, 
      insert_time, insert_user, update_time, 
      update_user, del_flag,
      report_time, survey_mobile, material_complete_flag, material_mark,car_damage_cost_apply_id,insurance_company,insurance_type)
    values (#{type}, #{carNumber}, 
      #{driverId}, #{insuranceBillNo}, #{startTime}, 
      #{endTime}, #{amount}, #{balance}, #{status}, #{payStatus},
      #{noticeTime}, #{mark}, #{invoiceAttachPath}, 
      #{insuranceBillPath}, #{payLogPath}, #{accidentReportPath}, 
      #{insertTime}, #{insertUser}, #{updateTime}, 
      #{updateUser}, #{delFlag},
      #{reportTime}, #{surveyMobile}, #{materialCompleteFlag}, #{materialMark}, #{carDamageCostApplyId},#{insuranceCompany},#{insuranceType})
  </insert>
  
  <update id="update" parameterType="com.jshpsoft.domain.TrackInsurance" >
    update trackInsurance
    <set >
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="carNumber != null" >
        car_number = #{carNumber},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId},
      </if>
      <if test="insuranceBillNo != null" >
        insurance_bill_no = #{insuranceBillNo},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime},
      </if>
      <if test="amount != null" >
        amount = #{amount},
      </if>
      <if test="balance != null" >
        balance = #{balance},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus},
      </if>
      <if test="noticeTime != null" >
        notice_time = #{noticeTime},
      </if>
      <if test="mark != null" >
        mark = #{mark},
      </if>
      <if test="invoiceAttachPath != null" >
        invoice_attach_path = #{invoiceAttachPath},
      </if>
      <if test="insuranceBillPath != null" >
        insurance_bill_path = #{insuranceBillPath},
      </if>
      <if test="payLogPath != null" >
        pay_log_path = #{payLogPath},
      </if>
      <if test="accidentReportPath != null" >
        accident_report_path = #{accidentReportPath},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime},
      </if>
      <if test="insertUser != null" >
        insert_user = #{insertUser},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="reportTime != null" >
        report_time = #{reportTime}, 
      </if>
      <if test="surveyMobile != null" >
        survey_mobile = #{surveyMobile}, 
      </if>
      <if test="materialCompleteFlag != null" >
        material_complete_flag = #{materialCompleteFlag}, 
      </if>
      <if test="materialMark != null" >
        material_mark = #{materialMark},
      </if>
      <if test="carDamageCostApplyId != null" >
        car_damage_cost_apply_id = #{carDamageCostApplyId},
      </if>
      <if test="insuranceCompany != null">
          insurance_company = #{insuranceCompany},
      </if>
      <if test="insuranceType != null">
          insurance_type = #{insuranceType}
      </if>
    </set>
    where id = #{id}
  </update>
  
    <select id="getPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
	  	SELECT * from (
			SELECT row_number() over(order by a.id desc) as rownumber,a.*,u.name as driverName
			From trackInsurance a
			left join sys_user u on u.id = a.driver_id
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="type != null and type != ''">
				and a.type = #{type} 
			</if>
			<if test="carNumber != null and carNumber != ''">
				and a.car_number = #{carNumber} 
			</if>
			<if test="insuranceBillNo != null and insuranceBillNo != ''">
				and a.insurance_bill_no like '%'+#{insuranceBillNo}+'%'
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status} 
			</if>
			<if test="payStatus != null and payStatus !=''" >
        		and a.pay_status = #{payStatus}
      		</if>
			<if test="startInTime != null and startInTime != ''">
				and convert(char(16), a.insert_time,120) &gt;= convert(char(16), #{startInTime},120)
			</if>
			<if test="endInTime != null and endInTime != ''">
				and convert(char(16), a.insert_time,120) &lt;= convert(char(16), #{endInTime},120)
			</if>
			<if test="insuranceType != null and insuranceType != ''">
			    and a.insurance_type = #{insuranceType}
			</if>
		</where>
		) as t 
		WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
	</select>
	  
	<select id="getPageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT count(*)
		FROM trackInsurance a
		left join sys_user u on u.id = a.driver_id
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="type != null and type != ''">
				and a.type = #{type} 
			</if>
			<if test="carNumber != null and carNumber != ''">
				and a.car_number = #{carNumber} 
			</if>
			<if test="insuranceBillNo != null and insuranceBillNo != ''">
				and a.insurance_bill_no like '%'+#{insuranceBillNo}+'%'
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status} 
			</if>
			<if test="payStatus != null and payStatus !=''" >
        		and a.pay_status = #{payStatus}
      		</if>
			<if test="startInTime != null and startInTime != ''">
				and convert(char(16), a.insert_time,120) &gt;= convert(char(10), #{startInTime},120)
			</if>
			<if test="endInTime != null and endInTime != ''">
				and convert(char(16), a.insert_time,120) &lt;= convert(char(10), #{endInTime},120)
			</if>
			<if test="insuranceType != null and insuranceType != ''">
			    and a.insurance_type = #{insuranceType}
			</if>
		</where>
	</select>
	
  	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		Select a.*,u.name as driverName
		From trackInsurance a 
		left join sys_user u on u.id = a.driver_id
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="carNumber != null and carNumber != ''">
				and a.car_number = #{carNumber} 
			</if>
			<if test="reportTime != null and reportTime != ''">
			    and convert(char(4), a.report_time,120) = #{reportTime}
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status} 
			</if>
			<if test="payStatus != null and payStatus != ''">
				and a.pay_status = #{payStatus} 
			</if>
			<if test="statusNot != null and statusNot != ''">
				and a.status != #{statusNot} 
			</if>
			<if test="type != null and type != ''">
				and a.type = #{type} 
			</if>
			<if test="insuranceBillNo != null and insuranceBillNo != ''">
				and a.insurance_bill_no like '%'+#{insuranceBillNo}+'%' 
			</if>
			<if test="insuranceType != null and insuranceType != ''">
			    and a.insurance_type = #{insuranceType}
			</if>
			<if test="arrFlag != null and arrFlag != ''">
				and a.balance != 0
			</if>
			<if test="startInTime != null and startInTime != ''">
				and convert(char(10), a.insert_time,120) &gt;= convert(char(10), #{startInTime},120)
			</if>
			<if test="endInTime != null and endInTime != ''">
				and convert(char(10), a.insert_time,120) &lt;= convert(char(10), #{endInTime},120)
			</if>
			<if test="beforeDays != null">
				and month( a.end_time ) = month( dateadd (dd, #{beforeDays} ,getdate() ) ) and day( a.end_time ) = day( dateadd( dd, #{beforeDays} ,getdate() ) )
			</if> 
			<if test="deadline != null and deadline != ''">
				and datediff(day, a.end_time, #{deadline}) = 0
			</if> 
			<if test="nowDate != null and nowDate != ''">
			    and convert(char(10), a.end_time,120) &gt;= convert(char(10), #{nowDate},120)
			</if>
		</where>
			<if test="orderFlag != null and orderFlag != ''">
				order by a.insert_time desc
			</if>
			<if test="arrFlag != null and arrFlag != ''">
				order by a.insert_time asc
			</if>
			<if test="descFlag != null and descFlag != ''">
				order by a.id desc
			</if>
			
	</select>
  
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
  	select a.*,u.name as driverName
  	from trackInsurance a 
  	left join sys_user u on u.id = a.driver_id
  	where a.id = #{id}
  </select>
  
    <update id="updateById"  parameterType="java.util.HashMap">
		Update trackInsurance 
		<set>
			<if test="updateTime != null" >
	        	update_time = #{updateTime},
	      	</if>
	      	<if test="updateUser != null and updateUser != ''" >
	        	update_user = #{updateUser},
	      	</if>
	      	<if test="delFlag != null and delFlag != ''" >
	        	del_flag = #{delFlag},
	      	</if>
	      	<if test="status != null and status != ''" >
        		status = #{status},
      		</if>
      		<if test="payStatus != null and payStatus != ''">
				pay_status = #{payStatus},
			</if>
	      	<if test="invoiceAttachPath != null and invoiceAttachPath != ''" >
        		invoice_attach_path = #{invoiceAttachPath},
      		</if>
      		<if test="insuranceBillPath != null and insuranceBillPath != ''" >
        		insurance_bill_path = #{insuranceBillPath},
      		</if>
      		<if test="payLogPath != null and payLogPath != ''" >
        		pay_log_path = #{payLogPath},
      		</if>
      		<if test="accidentReportPath != null and accidentReportPath != ''" >
        		accident_report_path = #{accidentReportPath},
      		</if>
      		<if test="balance != null and balance != ''" >
	        	balance = #{balance},
	      	</if>
		</set>
		where id = #{id}
	</update>
  
  
  
</mapper>