<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.TransportCostTypeMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.TransportCostType" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="mark" property="mark" jdbcType="NVARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="com.jshpsoft.domain.TransportCostType" >
    insert into basic_TransportCostType ( name, 
      mark, insert_time,insert_user, update_time,update_user,del_flag)
    values ( #{name}, 
      #{mark}, #{insertTime}, #{insertUser},#{updateTime},#{updateUser},#{delFlag})
  </insert>
  
  <select id="getPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	SELECT * from (
		SELECT row_number() over(order by a.id desc) as rownumber,a.*
			FROM basic_transportCostType a
			WHERE 
				a.del_flag = 'N'
		    	<if test="name != null and name != ''">
		    		and ( a.name LIKE concat('%', #{name}, '%')  )
		    	</if>
		    	
	) as t 
	WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
	ORDER BY t.id desc
  </select>
  
  <select id="getPageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
	SELECT count(*)
		FROM basic_transportCostType a
		WHERE 
			a.del_flag = 'N'
		    <if test="name != null and name != ''">
		    	and ( a.name LIKE concat('%', #{name}, '%')  )
		    </if>
  </select>
  
  <select id="getByConditions" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
    select * 
      from basic_transportCostType
    <where>
    	<if test="name != null and name != ''">
		    and name LIKE concat('%', #{name}, '%')
		</if>
    	<if test="delFlag != null and delFlag != ''">
		    and del_flag = #{delFlag}
		</if>
    </where>
    order by insert_time asc
  </select>
  
  <select id="getById" parameterType="int"  resultMap="BaseResultMap">
  	select * from basic_transportCostType where id = #{id}
  </select>
  
  <update id="update" parameterType="com.jshpsoft.domain.TransportCostType">
  	update basic_transportCostType
  	<set>
    	<if test="name != null and name != ''">
    		name =  #{name},
    	</if>
    	<if test="mark != null">
    		mark = #{mark},
    	</if>
    	<if test="updateTime != null ">
    		update_time = #{updateTime},
    	</if>
    	<if test="updateUser != null ">
    		update_user = #{updateUser},
    	</if>
    	<if test="delFlag != null and delFlag != ''">
    		del_flag = #{delFlag} 
    	</if>
  	</set>
  	where id = #{id}
  </update>
  
  
</mapper>