<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.TransportPrepayApplyMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.TransportPrepayApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="schedule_bill_no" property="scheduleBillNo" jdbcType="VARCHAR" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="driver_id" property="driverId" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="prepay_cash" property="prepayCash" jdbcType="DECIMAL" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="oil_card_no" property="oilCardNo" jdbcType="VARCHAR" />
    <result column="oil_amount" property="oilAmount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="driverName" property="driverName" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="com.jshpsoft.domain.TransportPrepayApply" useGeneratedKeys="true" keyProperty= "id" >
    insert into transportPrepayApply 
    ( schedule_bill_no, car_number, driver_id, mobile, apply_time, prepay_cash, bank_name, bank_account, oil_card_no, oil_amount, 
      status, mark, insert_time, insert_user, update_time, update_user, del_flag)
    values 
    ( #{scheduleBillNo}, #{carNumber}, #{driverId}, #{mobile}, #{applyTime}, #{prepayCash}, #{bankName}, #{bankAccount}, #{oilCardNo}, #{oilAmount}, 
      #{status}, #{mark}, #{insertTime}, #{insertUser}, #{updateTime}, #{updateUser}, #{delFlag})
  </insert>
  
  <update id="update" parameterType="com.jshpsoft.domain.TransportPrepayApply" >
    update transportPrepayApply
    <set >
      <if test="scheduleBillNo != null" >
        schedule_bill_no = #{scheduleBillNo},
      </if>
      <if test="carNumber != null" >
        car_number = #{carNumber},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime},
      </if>
      <if test="prepayCash != null" >
        prepay_cash = #{prepayCash},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount},
      </if>
      <if test="oilCardNo != null" >
        oil_card_no = #{oilCardNo},
      </if>
      <if test="oilAmount != null" >
        oil_amount = #{oilAmount},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="mark != null" >
        mark = #{mark},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime},
      </if>
      <if test="insertUser != null" >
        insert_user = #{insertUser},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
    where id = #{id}
  </update>
 
      <select id="getPageList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
	  	SELECT * from (
			SELECT row_number() over(order by a.id desc) as rownumber,a.*
			From transportPrepayApply a
			left join sys_user u on u.id = a.driver_id
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="carNumber != null and carNumber != ''">
				and a.car_number = #{carNumber} 
			</if>
			<if test="driverId != null">
				and a.driver_id = #{driverId}
			</if>
			<if test="driverName != null and driverName != ''">
				and u.name like '%'+#{driverName}+'%'
			</if>
			<if test="startTime != null and startTime != ''">
				and convert(char(16), a.apply_time,120) &gt;= convert(char(16), #{startTime},120)
			</if>
			<if test="endTime != null and endTime != ''">
				and convert(char(16), a.apply_time,120) &lt;= convert(char(16), #{endTime},120)
			</if>
			<if test="insertUser != null and insertUser != ''">
				and a.insert_user = #{insertUser} 
			</if>
			<if test="statusIn != null and statusIn != ''">
				and a.status in (${statusIn})
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status} 
			</if>
			<if test="stockId != null and stockId != ''">
			    and u.stock_id = #{stockId}
			</if>
		</where>
		) as t 
		WHERE t.rownumber &gt; #{pageStartIndex} And t.rownumber &lt;= #{pageEndIndex}
		ORDER BY t.id desc
	</select>
	  
	<select id="getPageTotalCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT count(*)
		FROM transportPrepayApply a
		left join sys_user u on u.id = a.driver_id
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="carNumber != null and carNumber != ''">
				and a.car_number = #{carNumber} 
			</if>
			<if test="driverId != null">
				and a.driver_id = #{driverId}
			</if>
			<if test="driverName != null and driverName != ''">
				and u.name like '%'+#{driverName}+'%'
			</if>
			<if test="startTime != null and startTime != ''">
				and convert(char(16), a.apply_time,120) &gt;= convert(char(16), #{startTime},120)
			</if>
			<if test="endTime != null and endTime != ''">
				and convert(char(16), a.apply_time,120) &lt;= convert(char(16), #{endTime},120)
			</if>
			<if test="insertUser != null and insertUser != ''">
				and a.insert_user = #{insertUser} 
			</if>
			<if test="statusIn != null and statusIn != ''">
				and a.status in (${statusIn})
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status} 
			</if>
			<if test="stockId != null and stockId != ''">
			    and u.stock_id = #{stockId}
			</if>
		</where>
	</select>
		
	<select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		Select a.id,a.schedule_bill_no,a.car_number,a.driver_id,a.mobile,a.apply_time,a.prepay_cash,a.bank_name,a.bank_account,a.oil_card_no,
  				a.oil_amount,a.status,a.mark,a.insert_time,a.update_time,
  				u.name as insert_user,
  				c.name as update_user
		From transportPrepayApply a 
		left join sys_user u on a.insert_user = u.id
		left join sys_user c on a.update_user = c.id
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="carNumber != null and carNumber != ''">
				and a.car_number = #{carNumber} 
			</if>
			<if test="driverId != null">
				and a.driver_id = #{driverId}
			</if>
			<if test="driverName != null and driverName != ''">
				and u.name like '%'+#{driverName}+'%'
			</if>
			<if test="startTime != null and startTime != ''">
				and convert(char(10), a.apply_time,120) &gt;= convert(char(10), #{startTime},120)
			</if>
			<if test="endTime != null and endTime != ''">
				and convert(char(10), a.apply_time,120) &lt;= convert(char(10), #{endTime},120)
			</if>
			<if test="statusIn != null and statusIn != ''">
				and a.status in (${statusIn})
			</if>
			<if test="status != null and status != ''">
				and a.status = #{status}
			</if>
			<if test="prepayIds != null and prepayIds != ''">
				and a.id in (${prepayIds}) 
			</if>
			<if test="stockId != null and stockId != ''">
			    and u.stock_id = #{stockId}
			</if>
			<if test="scheduleBillNo != null and scheduleBillNo != ''">
			    and a.schedule_bill_no = #{scheduleBillNo}
			</if>
		</where>
			<if test="orderDesc != null and orderDesc != ''">
				order by a.id desc
			</if>
			<if test="orderAsc != null and orderAsc != ''">
				order by a.id asc
			</if>
	</select>
	
  <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
  	select a.id,a.schedule_bill_no,a.car_number,a.driver_id,a.mobile,a.apply_time,a.prepay_cash,a.bank_name,a.bank_account,a.oil_card_no,
  			a.oil_amount,a.status,a.mark,a.insert_user,a.insert_time,a.update_time,
  			(select name from sys_user c where a.update_user=c.id) update_user,
  			(select name from sys_user d where a.driver_id=d.id) as driverName
  	from transportPrepayApply a where a.id = #{id}
  </select>
  
  <select id="getByBillNo" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select a.*
  	from transportPrepayApply a where a.schedule_bill_no = #{scheduleBillNo}
  </select>
  
   	<update id="updateById"  parameterType="java.util.HashMap">
		Update transportPrepayApply 
		<set>
			<if test="updateTime != null" >
	        	update_time = #{updateTime},
	      	</if>
	      	<if test="updateUser != null and updateUser != ''" >
	        	update_user = #{updateUser},
	      	</if>
	      	<if test="delFlag != null and delFlag != ''" >
	        	del_flag = #{delFlag},
	      	</if>
	      	<if test="status != null and status != ''" >
        		status = #{status},
      		</if>
		</set>
		where id in (${id})
	</update>
	
	<update id="updateByBillNo"  parameterType="java.util.HashMap">
		Update transportPrepayApply 
		<set>
			<if test="updateTime != null" >
	        	update_time = #{updateTime},
	      	</if>
	      	<if test="updateUser != null and updateUser != ''" >
	        	update_user = #{updateUser},
	      	</if>
	      	<if test="delFlag != null and delFlag != ''" >
	        	del_flag = #{delFlag},
	      	</if>
      	</set>
		where schedule_bill_no = #{scheduleBillNo}
	</update>
  
</mapper>