<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jshpsoft.dao.TransportPrepayApplyDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jshpsoft.domain.TransportPrepayApplyDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="start_address" property="startAddress" jdbcType="VARCHAR" />
    <result column="end_address" property="endAddress" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="com.jshpsoft.domain.TransportPrepayApplyDetail" >
    insert into transportPrepayApplyDetail 
    ( parent_id, brand_name, count, start_address, end_address, 
      mark, insert_time, insert_user, update_time, update_user, del_flag )
    values 
    ( #{parentId}, #{brandName}, #{count}, #{startAddress}, #{endAddress}, 
      #{mark}, #{insertTime}, #{insertUser}, #{updateTime}, #{updateUser}, #{delFlag} )
  </insert>
  
    <select id="getByConditions" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		Select a.*
		From transportPrepayApplyDetail a 
		<where>
			<if test="delFlag != null and delFlag != ''">
				and a.del_flag = #{delFlag} 
			</if>
			<if test="parentId != null and parentId != ''">
				and a.parent_id = #{parentId} 
			</if>
		</where>
			order by a.insert_time asc
	</select>
  
  	<delete id="deleteByParentId" parameterType="Integer" >
		delete from transportPrepayApplyDetail where parent_id = #{parentId} 
	</delete>
	
	<update id="updateByParentId"  parameterType="java.util.HashMap">
		Update transportPrepayApplyDetail 
		<set>
			<if test="updateTime != null" >
	        	update_time = #{updateTime},
	      	</if>
	      	<if test="updateUser != null and updateUser != ''" >
	        	update_user = #{updateUser},
	      	</if>
	      	<if test="delFlag != null and delFlag != ''" >
	        	del_flag = #{delFlag},
	      	</if>
		</set>
		where parent_id = #{parentId} 
	</update>
	
</mapper>