<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/mvc 
           				http://www.springframework.org/schema/mvc/spring-mvc.xsd
           				http://www.springframework.org/schema/task
     					http://www.springframework.org/schema/task/spring-task.xsd"

	default-lazy-init="false" default-autowire="byName">

	<!-- 扫描绑定所有注解 -->
	<context:component-scan base-package="com.jshpsoft" />

    <!-- 启动对@AspectJ注解的支持 -->  <!-- proxy-target-class="true"  -->
    <aop:aspectj-autoproxy /> 
    
	<!-- 加载配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db.properties</value>
			</list>
		</property>
	</bean>

	<!-- 配置数据源  -->
	<bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">  
        <!-- <property name="driverClassName" value="${jdbc.driverClassName}" />  
        <property name="url" value="${jdbc.url}" />  
        <property name="username" value="${jdbc.username}" />  
        <property name="password" value="${jdbc.password}" />  --> 
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />  
        <property name="url" value="jdbc:sqlserver://192.168.10.88:1433;database=HyLMS;integratedSecurity=false;autoReconnect=true" />  
        <property name="username" value="hphosp" />  
        <property name="password" value="Hp89081199" />
  
        <!-- 配置初始化大小、最小、最大 --> 
		<property name="initialSize" value="1" /> 
		<property name="minIdle" value="1" /> 
		<property name="maxActive" value="10" />
		<!-- 配置获取连接等待超时的时间 --> 
		<property name="maxWait" value="10000" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 --> 
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 --> 
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="testWhileIdle" value="true" />
		<!-- 这里建议配置为TRUE，防止取到的连接不可用 --> 
		<property name="testOnBorrow" value="true" /> 
		<property name="testOnReturn" value="false" />
		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 --> 
		<property name="poolPreparedStatements" value="true" /> 
		<property name="maxPoolPreparedStatementPerConnectionSize" 
		 value="20" />
		<!-- 这里配置提交方式，默认就是TRUE，可以不用配置 -->
		<property name="defaultAutoCommit" value="true" />
		<!-- 验证连接有效与否的SQL，不同的数据配置不同 --> 
		<property name="validationQuery" value="select 1 " /> 
		<property name="filters" value="stat" />  
    </bean>

	<!-- 配置mybatis -->
	<bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:com/jshpsoft/mapper/*.xml"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描这个包以及它的子包下的所有映射接口类 -->
		<property name="basePackage" value="com.jshpsoft.dao" />
		<property name="sqlSessionFactoryBeanName" value="mySqlSessionFactory"/>
	</bean>

	<!-- 事务的配置 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 采用注解形式的声明式事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager" order="2"/>

	<!-- 自定义系统异常处理类 -->
	<bean id="exceptionHandler" class="com.jshpsoft.exception.MyExceptionHandler" />
	
	<!-- 自定义初始化类 -->
	<bean class="com.jshpsoft.listener.InitListener" />

	<!-- <mvc:annotation-driven /> -->
 	<mvc:annotation-driven>  
		<mvc:message-converters register-defaults="true">  
		<bean 
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
		         <property name="prefixJson" value="false"/>  
		         <property name="supportedMediaTypes">  
		             <list>  
		               <value>application/json</value>  
		               <value>text/json</value>  
		             </list>  
		          </property>  
		       </bean>  
		   </mvc:message-converters>  
	</mvc:annotation-driven>
	
	<!-- 定时任务 -->
	<task:executor id="executor" pool-size="5" />
    <task:scheduler id="scheduler" pool-size="5" />
    <task:annotation-driven executor="executor" scheduler="scheduler" />
    
    <!-- websocket -->
    <bean class="com.jshpsoft.websocket.SystemWebSocketHandler" />
    
</beans>